<% types = { sale:    "brand-dd",
              tip:    "brand-dd",
              refund: "brand-med-fx",
              void:   "brand-med-fx",
            } %>

<div class="container-fluid">
  <div class="row">
    <% types.keys.each do |type| %>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="card <%= types[type] %> <%= type.to_s %> count">
        <div class="card-header">
          <%= type.to_s %> Count
        </div>
        <div class="card-block clearfix">
          <h1 class="card-value"><small>AED </small>0<small>.00</small></h1>
        </div>
        <div class="card-footer clearfix">
          <div class="card-timestamp">
          </div>
          <!-- <div class="card-order-percentage up">
            <i class="fa fa-caret-up" aria-hidden="true"></i> 57<small>%</small>
          </div> -->
        </div>
      </div>
    </div>
    <% end %>
    <% types.keys.each do |type| %>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="card <%= types[type] %> <%= type.to_s %> value">
        <div class="card-header">
          <%= type.to_s %> Value
        </div>
        <div class="card-block clearfix">
          <h1 class="card-value"><small>AED </small>0<small>.00</small></h1>
        </div>
        <div class="card-footer clearfix">
          <div class="card-timestamp">
          </div>
          <!-- <div class="card-order-percentage up">
            <i class="fa fa-caret-up" aria-hidden="true"></i> 57<small>%</small>
          </div> -->
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="card pulse-card">
        <div class="card-header">
          Connection Health
        </div>
        <div class="pulse-container">
          <div class="pulse-button">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>