<nav class="navbar navbar-dark">
  <button class="navbar-toggler hidden-sm-up pull-xs-right" type="button" data-toggle="collapse" data-target="#navbar-header">
            &#9776;
    </button>
    <a class="navbar-brand" href="<%= root_path %>">Scorecard</a>
    <div class="collapse navbar-toggleable-xs" id="navbar-header">
      <ul class="nav navbar-nav pull-sm-right">
        </li>
        <% if user_signed_in? %>
          <%# if current_user.try(:admin?) %>
            <%#= link_to 'Admin', '/admin', class: "item" %>
          <%# end %>
          <li class="nav-item">
            <%= link_to 'Edit account', edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
  </div>
</nav>
